#about-container {
  height: 40vh;
  background: #008c93;
}

#about-container .about-text-container {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-container .about-text-container .about-text {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  padding: 50px 90px;
  border: solid 10px #dec494;
  font-family: "Lato", sans-serif;
}

#missions-section {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#missions-section .missions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
  margin: auto;
}

#missions-section .missions-container .single-mission-card {
  height: 350px;
  width: 350px;
  border: 20px solid #dec494;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#missions-section .missions-container .single-mission-card .mission-title {
  width: 80%;
  font-size: 25px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #008c93;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

#missions-section .missions-container .single-mission-card .mission-text {
  font-family: "Lato", sans-serif;
  text-align: center;
  width: 80%;
}

#missions-section .missions-container .first-row {
  margin-bottom: 50px;
}

#contact-section {
  height: 80vh;
}

#contact-section .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
}

#contact-section .contact-container .image-contact {
  height: 100%;
  width: 100%;
  background: url("../images/isf-bureau.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#contact-section .contact-container .contact-form {
  height: 100%;
  width: 100%;
  background: #dec494;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-section .contact-container .contact-form form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

#contact-section .contact-container .contact-form form label {
  font-family: "Lato", sans-serif;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

#contact-section .contact-container .contact-form form input {
  border: none;
  border-bottom: 2px solid white;
  background-color: #dec494;
  margin-bottom: 40px;
  color: white;
}

#contact-section .contact-container .contact-form form input::-webkit-input-placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
}

#contact-section .contact-container .contact-form form input:-ms-input-placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
}

#contact-section .contact-container .contact-form form input::-ms-input-placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
}

#contact-section .contact-container .contact-form form input::placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
}

#contact-section .contact-container .contact-form form .input-message {
  height: 180px;
}

#contact-section .contact-container .contact-form form button {
  text-transform: uppercase;
  color: #dec494;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  width: 180px;
  margin: 0 auto;
}

#contact-section .contact-container .contact-form form .form-btn {
  padding: 15px 30px;
  background-color: white;
}

#newsletter-section {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#newsletter-section .news-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#newsletter-section .news-container .news-text-container .news-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 50px;
}

#newsletter-section .news-container .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#newsletter-section .news-container .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#newsletter-section .news-container .form-container form label {
  font-family: "Lato", sans-serif;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
}

#newsletter-section .news-container .form-container form input {
  width: 250px;
  border: none;
  border-bottom: 2px solid #010014;
  color: #010014;
}

#newsletter-section .news-container .form-container button {
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  width: 180px;
}

#newsletter-section .news-container .form-container button:hover {
  background: #dec494;
}

#newsletter-section .news-container .form-container .form-btn {
  padding: 15px 30px;
  background: #008c93;
}

#footer-section {
  background: #010014;
  height: 30vh;
}

#footer-section .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

#footer-section .footer-container .footer-text-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

#footer-section .footer-container .footer-text-up .footer-company {
  width: 200px;
}

#footer-section .footer-container .footer-text-up .footer-company h3 {
  color: white;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

#footer-section .footer-container .footer-text-up .footer-company p {
  color: white;
}

#footer-section .footer-container .footer-text-up .footer-company button {
  color: white;
  text-transform: uppercase;
  padding: 15px 20px;
  background: #008c93;
  margin-top: 20px;
  border: none;
  border-radius: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#footer-section .footer-container .footer-text-up .footer-site .footer-title {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

#footer-section .footer-container .footer-text-up .footer-site .footer-text {
  color: white;
}

#footer-section .footer-container .footer-text-up .footer-address .footer-title {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

#footer-section .footer-container .footer-text-up .footer-address .footer-text {
  color: white;
}

#footer-section .footer-container .footer-text-up .footer-contact .footer-title {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

#footer-section .footer-container .footer-text-up .footer-contact .footer-text {
  color: white;
}

#footer-section .footer-container .footer-text-up .footer-links .footer-title {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

#footer-section .footer-container .footer-text-up .footer-links .footer-text {
  color: white;
}

#footer-section .footer-container .footer-text-down {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  outline: none;
  color: #010014;
}

main {
  color: #010014;
}

#landing {
  min-height: 100vh;
  background: white;
  background-size: cover;
  padding: 0rem 5rem;
}

#landing nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
}

#landing nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

#landing nav .nav-links li {
  padding-left: 5rem;
  font-size: 1.2rem;
}

#landing nav .nav-links li:hover {
  color: #008c93;
}

#landing nav .nav-links .primary-btn {
  padding: 20px 40px;
  border: none;
  font-size: 16px;
  border-radius: 2px;
  background: #dec494;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
}

#landing nav .nav-links .primary-btn:hover {
  background: #008c93;
}

#landing nav .nav-links .nav-btn {
  margin-left: 5rem;
}

#landing nav #logo {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 2rem;
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: #3d3d3d;
}

.intro {
  background: #008c93;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .intro-text {
  color: #e9e9e9;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.intro .intro-text .hide {
  background: #008c93;
  overflow: hidden;
}

.intro .intro-text .hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

.slider {
  background: #dec494;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

#main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 150px;
}

#main-section .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-section .left-content .home-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
}

#main-section .left-content .home-text {
  font-size: 22px;
}

#main-section .left-content .primary-btn {
  padding: 20px 40px;
  border: none;
  font-size: 16px;
  border-radius: 2px;
  background: #dec494;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
}

#main-section .left-content .primary-btn:hover {
  background: #008c93;
}

#main-section .left-content .home-text-btn {
  margin-top: 30px;
}
/*# sourceMappingURL=style.css.map */